<h1>{{ title }}</h1>

<form [formGroup]="form" *ngIf="mode == 'add'">
  <fieldset>
    <label>Add your task title below: </label>
    <input type="text" maxlength="60" formControlName="title" />
    <small
      class="error"
      *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine"
      >This field should have 3 and 60 characters</small
    >
    <button [disabled]="form.invalid" (click)="add()">Save</button>
  </fieldset>
</form>

<ul>
  <p *ngIf="todos.length === 0"><small>No task today!</small></p>
  <li *ngFor="let todo of todos">
    <div>{{ todo.id }} {{ todo.description }}</div>
    <div class="buttons">
      <button title="Done" *ngIf="!todo.done" (click)="markAsDone(todo)">
        <fa-icon [icon]="faCircleCheck"></fa-icon>
      </button>
      <button
        class="redo"
        title="Redo"
        *ngIf="todo.done"
        (click)="markAsUndone(todo)"
      >
        <fa-icon [icon]="faRotateBack"></fa-icon>
      </button>
      <button title="Remove" class="remove" (click)="remove(todo)">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    </div>
  </li>
</ul>

<button *ngIf="mode == 'list'" (click)="changeMode('add')">New Task</button>
<button *ngIf="mode == 'add'" (click)="changeMode('list')">Cancel</button>
